.DS_Store

node_modules/

backend/.env
backend/node_modules/
backend/.npm-cache/
backend/build/

frontend/.env
frontend/node_modules/
frontend/dist/
frontend/.npm-cache/
frontend/.vite-cache/
frontend/*.tsbuildinfo
frontend/vite.config.js
frontend/vite.config.d.ts
